<h1 class="mb-4">管理者用レビュー一覧</h1>

<%= form_with url: admin_reviews_path, method: :get, local: true do %>
  <div style="display: flex; align-items: center; gap: 10px;">
    <%= text_field_tag :query, params[:query], placeholder: "キーワードを入力", class: "form-control mb-3", style: "width: 30%;" %>
    <%= submit_tag "検索", class: "btn btn-primary mb-3" %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>投稿日</th>
      <th>サービス名</th>
      <th>サービスの特徴や使いやすさ</th>
      <th>評価</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.user.name %></td>
        <td><%= review.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
        <td style="width: 180px; word-break: break-word;"><%= review.title %></td>
        <td style="width: 400px; word-break: break-word;"><%= review.body %></td>
        <td>
          <div id="post_raty_<%= review.id %>"></div>
          <script>
            if (document.getElementById("post_raty_<%= review.id %>") != null) {
              const elem = document.querySelector("#post_raty_<%= review.id %>");
              const opt = {
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                readOnly: true,
                score: <%= review.rate || 0 %>
              };
              raty(elem, opt);
            }
          </script>
        </td>
        <td>
          <%= link_to "削除", admin_review_path(review), method: :delete,
              data: { confirm: "本当に削除しますか？" },
              class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>