<h1 class="mb-4 ms-3">プロフィール編集</h1>

<div class="ms-3">
  <div class="w-50">
    
    <% if @user.errors.any? %>
      <div id="error_explanation" class="mb-3 p-2 ">
        <h2><%= @user.errors.count %> 件のエラーが発生しました:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with(model: @user, url: user_path(@user), method: :patch) do |form| %>
      <div class="mb-3">
        <%= form.label :name, "名前", class: "form-label" %>
        <%= form.text_field :name, class: "form-control w-50" %>
      </div>

      <div class="mb-3">
        <%= form.label :email, "メールアドレス", class: "form-label" %>
        <%= form.email_field :email, class: "form-control w-50" %>
      </div>

      <div class="mb-3">
        <%= form.label :avatar, "プロフィール画像", class: "form-label" %>
        <%= form.file_field :avatar, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.submit "更新", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="mb-3">
    <%= button_to '退会する', destroy_account_user_path(current_user), method: :delete, data: { confirm: '本当に退会しますか？' }, class: "btn btn-danger" %>
    </div>
  </div>
</div>
