<h1 class="mb-4 ms-3">管理者用ポイ活サービス詳細</h1>

<div class="card p-3 ms-3">
  <p class="d-flex align-items-center gap-3">
    <span>
      <strong>投稿者名:</strong>
      <span class="ms-2"><%= @post.user.name %></span>
    </span>
  </p>
  
  <p>
    <strong>投稿日:</strong>
    <%= @post.created_at.strftime("%Y年%m月%d日 %H:%M") %>
  </p>

  <p>
    <strong>サービス名:</strong>
    <%= @post.title %>
  </p>

  <p>
    <strong>サービスの特徴や使いやすさ:</strong>
    <%= @post.body %>
  </p>

  <p>
    <strong>ポイント還元率:</strong>
    <%= @post.reward_rate.presence || "未設定" %> 
  </p>

  <p>
    <strong>関連キーワード（タグ）:</strong>
    <% if @post.tag_list.present? %>
      <%= @post.tag_list.join("、") %>
    <% else %>
      <span>なし</span>
    <% end %>
  </p>

  <p>
    <strong>評価:</strong>
    <div id="post_raty"></div>
  </p>

  <p>
    <strong>いいね数:</strong>
    <%= @post.favorites.count %>
  </p>
</div>

<div class="mt-3 ms-3">
  <%= link_to '一覧に戻る', admin_reviews_path, class: "btn btn-secondary" %>
  <%= link_to '削除する', admin_post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger ms-2" %>
</div>

<script>
if (document.getElementById("post_raty") != null) {
  document.querySelector("#post_raty").textContent = '';
  let elem = document.querySelector("#post_raty");
  let opt = {
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    readOnly: true,
    score: <%= @post.rate || 0 %>
  };
  raty(elem, opt);
}
</script>


<div class="card p-3 ms-3 mt-4">
  <h2 class="mb-4 ms-3">コメント一覧</h2>

  <div class="p-3">
    <% @post.comments.each do |comment| %>
      <div class="border-bottom py-2">
        <p>
          <strong><%= comment.user.name %></strong>：
          <%= comment.content %><br>
          <small class="text-muted"><%= comment.created_at.strftime("%Y年%m月%d日 %H:%M") %></small>
        </p>

        <%= link_to '削除', admin_post_comment_path(@post, comment),
            method: :delete,
            data: { confirm: '本当に削除しますか？' },
            class: "btn btn-danger btn-sm" %>
      </div>
    <% end %>
  </div>
</div>

