<h1> 作業途中管理者用ポイ活サービス詳細 </h1>

<p>
  <strong>投稿者名:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>投稿日:</strong>
  <%= @post.created_at.strftime("%Y年%m月%d日 %H:%M") %>
</p>

<p>
  <strong>サービス名:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>サービスの特徴や使いやすさ:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>ポイント還元率:</strong>
  <%= @post.reward_rate.presence || "未設定" %> 
</p>

<p>
  <strong>関連キーワード（タグ）:</strong>
  <% if @post.tag_list.present? %>
    <%= @post.tag_list.join("、") %>
  <% else %>
    <span></span>
  <% end %>
</p>

<p>
  <strong>評価:</strong>
  <div id="post_raty"></div>
</p>

<p>
  <strong>いいね数:</strong>
  <%= @post.favorites.count %>
</p>

<script>
if (document.getElementById("post_raty") != null) {
  document.querySelector("#post_raty").textContent = '';
  let elem = document.querySelector("#post_raty");
  let opt = {
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    readOnly: true,
    score: <%= @post.rate || 0 %>
  };
  raty(elem, opt);
}
</script>

<p>
  <%= link_to '一覧に戻る', admin_reviews_path %>
  <%= link_to '削除する', admin_post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' } %>
</p>
