<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "エラー") %>が発生しました:</h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- サービス名 -->
  <div class="mb-3 row">
    <%= form.label :title, "サービス名", class: "col-sm-2 col-form-label text-end" %>
    <div class="col-sm-10">
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <!-- サービスの特徴や使いやすさ -->
  <div class="mb-3 row">
    <%= form.label :body, "サービスの特徴や使いやすさ", class: "col-sm-2 col-form-label text-end" %>
    <div class="col-sm-10">
      <%= form.text_area :body, class: "form-control" %>
    </div>
  </div>

  <!-- 投稿するボタンとBackリンク -->
  <div class="mb-3 row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <%= form.submit "投稿する" %>
      <%= link_to 'Back', posts_path %>
    </div>
  </div>
<% end %>

