<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "エラー") %>が発生しました:</h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "サービス名" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body, "サービスの特徴や使いやすさ" %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit "投稿する" %>
  </div>
<% end %>

