<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "エラー") %>が発生しました:</h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- サービス名 -->
  <div>
    <%= form.label :title, "サービス名" %>
    <%= form.text_field :title %>
  </div>

  <!-- サービスの特徴や使いやすさ -->
  <div>
    <%= form.label :body, "サービスの特徴や使いやすさ" %>
    <%= form.text_area :body %>
  </div>

  <!-- ポイント還元率 -->
  <div>
    <%= form.label :reward_rate, "ポイント還元率" %>
    <%= form.select :reward_rate, ["高還元率（1%以上）", "中還元率（0.5%〜1%）", "低還元率（0.5%未満）"], { prompt: "選択してください" } %>
  </div>

  <!-- レビュー -->
  <div>
    <%= form.label :rate, "評価（5段階）" %>
    <div id="post_raty"></div>
    <%= form.hidden_field :rate, id: "rate_value" %>
  </div>

  <!-- 投稿するボタンとBackリンク -->
  <div>
    <%= form.submit "投稿する" %>
    <%= link_to 'Back', posts_path %>
  </div>
<% end %>

<!-- レビュー -->
<div id="post_raty"></div>
<script>
if(document.getElementById("post_raty") != null){

   document.querySelector("#post_raty").textContent = '';
   let elem = document.querySelector("#post_raty");
   let opt = {
     starHalf: "/assets/star-half.png",  
     starOff: "/assets/star-off.png",    
     starOn: "/assets/star-on.png",      
     scoreName: "post[rate]",
     score: <%= @post.rate || 0 %>, 
     click: function(score) { 
       document.querySelector("#rate_value").value = score; 
     }
   };
   raty(elem, opt);
}
</script>
