<h1 class="mb-4">ポイ活サイト一覧</h1>

<%= form_with url: posts_path, method: :get, local: true do %>
  <!-- 投稿検索 -->
  <%= text_field_tag :query, params[:query], placeholder:"キーワードを入力" %>

  <!-- ポイント還元率の検索用 -->
  <%= select_tag :reward_rate, options_for_select([
      ['すべて', ''],
      ['高還元率（1%以上）', '高還元率（1%以上）'],
      ['中還元率（0.5%〜1%未満）', '中還元率（0.5%〜1%未満）'],
      ['低還元率（0.5%未満）', '低還元率（0.5%未満）'],
      ['その他', 'その他']
    ], params[:reward_rate])
  %>

  <!-- タグ検索 -->
  <%= text_field_tag :tag, params[:tag], placeholder:"関連キーワード(タグ)を入力" %>

  <!-- ソート機能 -->
  <%= select_tag :sort_by, options_for_select([
      ['指定なし', ''],
      ['いいね数（多い順）', 'likes'],
      ['コメント数（多い順）', 'comments'], 
      ['評価（高い順）', 'rating'],
      # ['いいね数＋コメント数＋評価（多い順）', 'likes_comments_rating'] 後日使用可能性があるため削除ではなくコメントアウト
    ], params[:sort_by]), class: "sort-select" %>

  <%= submit_tag "検索・並び替え", class: "btn btn-primary" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>投稿日</th>
      <th>サービス名</th>      
      <th>サービスの特徴や使いやすさ</th>
      <th>ポイント還元率</th>
      <th>関連キーワード（タグ）</th>
      <th>いいね数</th> 
      <th>コメント数</th>
      <th>評価</th> 
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
        <td>
          <div class="d-flex align-items-center gap-2">
            <% if post.user.avatar.attached? %>
              <%= image_tag post.user.avatar, class: "rounded-circle", size: "40x40" %>   <!-- プロフィール画像選択後 -->
            <% else %>
              <%= image_tag "no_image_hoikatsuhiroba.png", class: "rounded-circle", size: "40x40" %>  <!-- デフォルト画像 -->
            <% end %>
              <%= post.user.name %>  <!-- ユーザー名 -->
          </div>
        </td>      
        <td><%= post.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
        <td><%= post.title %></td>        
        <td><%= post.body %></td>
        <td><%= post.reward_rate.presence || "未設定" %></td>

        <!-- タグ -->
        <td>
          <% post.tag_list.each do |tag| %>
            <%= link_to tag, posts_path(tag: tag) %>
          <% end %>
        </td>

        <!-- いいね -->
        <td>
          <% if post.favorited_by?(current_user) %>
            <%= link_to post_favorite_path(post), method: :delete, data: { turbo_method: :delete } do %>
              ♥<%= post.favorites.count %> いいね
            <% end %>
          <% else %>
            <%= link_to post_favorite_path(post), method: :post, data: { turbo_method: :post } do %>
              ♡<%= post.favorites.count %> いいね
            <% end %>
          <% end %>
        </td>

        <!-- コメント数 -->
        <td><%= "#{post.comments.size}コメント" %></td>

        <!-- 評価 -->
        <td>
          <div id="post_raty_<%= post.id %>"></div>
          <script>
            if (document.getElementById("post_raty_<%= post.id %>") != null) {
              document.querySelector("#post_raty_<%= post.id %>").textContent = '';
              let elem = document.querySelector("#post_raty_<%= post.id %>");
              let opt = {
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                readOnly: true,
                score: <%= post.rate || 0 %> 
              };
              raty(elem, opt);
            }
          </script>
        </td>

        <!-- 詳細 -->
        <td>
          <%= link_to '詳細を見る', post, class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? && current_user.email != 'guest@example.com' %>
  <div>
    <%= link_to 'おすすめなポイ活サイトを投稿(新規投稿)', new_post_path, class: "btn btn-success" %>
  </div>
<% end %>
