<p id="notice"><%= notice %></p>

<h1>ポイ活サイト一覧</h1>

<table>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>サービス名</th>
      <th>サービスの特徴や使いやすさ</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.name %></td>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        
        <% if post.user == current_user %> 
          <td>
            <%= link_to '投稿を確認する', post %> | <!-- Show -->
            <%= link_to '編集する', edit_post_path(post) %> | <!-- Edit -->
            <%= link_to '削除する', post, method: :delete, data: { confirm: 'Are you sure?' } %> <!-- Destroy -->
          </td>
        <% else %>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.email != 'guest@example.com' %>
  <%= link_to 'おすすめポイ活サイトを投稿', new_post_path %>
<% end %>

