<h1 class="mb-4">ポイ活サイト一覧</h1>

<%= form_with url: posts_path, method: :get, local: true do %>
  <!-- 投稿検索 -->
  <%= text_field_tag :query, params[:query], placeholder:"キーワードを入力" %>

  <!-- ポイント還元率の検索用 -->
  <%= select_tag :reward_rate, options_for_select([
      ['すべて', ''],
      ['高還元率（1%以上）', '高還元率（1%以上）'],
      ['中還元率（0.5%〜1%）', '中還元率（0.5%〜1%）'],
      ['低還元率（0.5%未満）', '低還元率（0.5%未満）']
    ], params[:reward_rate])
  %>

  <!-- タグ検索 -->
  <%= text_field_tag :tag, params[:tag], placeholder:"関連キーワード(タグ)を入力" %>

  <!-- ソート機能 -->
  <%= select_tag :sort_by, options_for_select([
      ['指定なし', ''],
      ['いいね数（多い順）', 'likes'],
      ['評価（高い順）', 'rating'],
      ['いいね数（多い順）＆評価（高い順）', 'likes_rating']
    ], params[:sort_by]), class: "sort-select" %>

  <%= submit_tag "検索・並び替え", class: "btn btn-primary" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>サービス名</th>
      <th>サービスの特徴や使いやすさ</th>
      <th>ポイント還元率</th>
      <th>関連キーワード（タグ）</th>
      <th>いいね数</th> 
      <th>評価</th> 
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.name %></td>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.reward_rate.presence || "未設定" %></td>

        <!-- 投稿検索機能(タグ検索) -->
        <td>
          <% post.tag_list.each do |tag| %>
            <%= link_to tag, posts_path(tag: tag) %>
          <% end %>
        </td>

        <td>
          <% if post.favorited_by?(current_user) %>
            <%= link_to post_favorite_path(post), method: :delete, data: { turbo_method: :delete } do %>
              ♥<%= post.favorites.count %> いいね
            <% end %>
          <% else %>
            <%= link_to post_favorite_path(post), method: :post, data: { turbo_method: :post } do %>
              ♡<%= post.favorites.count %> いいね
            <% end %>
          <% end %>
        </td>

        <!-- レビュー -->
        <td>
          <div id="post_raty_<%= post.id %>"></div>
          <script>
            if (document.getElementById("post_raty_<%= post.id %>") != null) {
              document.querySelector("#post_raty_<%= post.id %>").textContent = '';
              let elem = document.querySelector("#post_raty_<%= post.id %>");
              let opt = {
                starHalf: "<%= asset_path('star-half.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                readOnly: true,
                score: <%= post.rate || 0 %> 
              };
              raty(elem, opt);
            }
          </script>
        </td>

        <td>
          <%= link_to '詳細を見る', post, class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? && current_user.email != 'guest@example.com' %>
  <div>
    <%= link_to 'おすすめなポイ活サイトを投稿(新規投稿)', new_post_path, class: "btn btn-success" %>
  </div>
<% end %>
