<p id="notice"><%= notice %></p>

<h1 class="mb-4">ポイ活サイト一覧</h1>

<!-- 投稿検索 -->
<%= form_with url: posts_path, method: :get, local: true do %>
  <%= text_field_tag :query, params[:query], placeholder: "キーワードを入力" %>
  <%= submit_tag "検索" %>
<% end %>


<table class="table">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>サービス名</th>
      <th>サービスの特徴や使いやすさ</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.name %></td>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        
        <td>
          <%= link_to '詳細を見る', post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.email != 'guest@example.com' %>
  <div>
    <%= link_to 'おすすめポイ活サイトを投稿(新規投稿)', new_post_path %>
  </div>
<% end %>