<h1>ポイ活サービス詳細</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザー名:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>サービス名:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>サービスの特徴や使いやすさ:</strong>
  <%= @post.body %>
</p>



<%= link_to '編集する', edit_post_path(@post) %> | <!-- Edit -->
<%= link_to '一覧に戻る', posts_path %> <!-- Back -->
